<div class="search-form">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="city">
  </form>
</div>

<div class="container" *ngIf="weatherInfo">
  <div class="upper-data">
    <img src="../assets/sunny.jpg" alt="Sun" *ngIf="weatherInfo.main.temp > 15">
    <img src="../assets/night.jpg" alt="Night" *ngIf="weatherInfo.main.temp <= 15">

    <div class="weather-data">
      <div class="location">{{ weatherInfo.name }}</div>
      <div class="temperature">{{ weatherInfo.main.temp | number: '1.0-0' }}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-lbl">
      More information
    </div>
    <div class="more-info-cont">
      <div class="info-blk">
        <div class="info-blk-lbl">
          <span>min</span>
        </div>
        <div class="info-blk-vle">
          {{ weatherInfo.main.temp_min }}°C
        </div>
      </div>

      <div class="info-blk">
        <div class="info-blk-lbl">
          <span>max</span>
        </div>
        <div class="info-blk-vle">
          {{ weatherInfo.main.temp_max}}°C
        </div>
      </div>

      <div class="info-blk">
        <div class="info-blk-lbl">
          <span>humidity</span>
        </div>
        <div class="info-blk-vle">
          {{ weatherInfo.main.humidity }}%
        </div>
      </div>

      <div class="info-blk">
        <div class="info-blk-lbl">
          <span>wind</span>
        </div>
        <div class="info-blk-vle">
          {{ weatherInfo.wind.speed }}km/h
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
